<div class="row">
  <div class="col-xs-12">
    <p>Add new servers or blueprints</p>

    <label for="">Server name:</label>
    <input 
      [(ngModel)]="newServerName"
      type="text"
      class="form-control"
      #serverNameInput>

    <label for="">Server content:</label>
    <input 
      [(ngModel)]="newServerContent"
      type="text"
      class="form-control"
      #serverContentInput>

    <br>

    <button
      (click)="onAddServer(serverNameInput, serverContentInput)"
      class="btn btn-primary">Add server</button>

    <button
      (click)="onAddBlueprint(serverNameInput, serverContentInput)"
      class="btn btn-primary">Add blueprint</button>
  </div>
</div>
