<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd; switchValue = switchValue + 1">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <li
          *ngFor="let number of numbers"
          class="list-group-item">
          {{number}}
        </li>
      </ul>
      <!-- <ng-template [ngIf]="onlyOdd">
        <p 
          appRendererHighlight
          [defaultClr]="'blue'"
          [hoverClr]="'yellow'">{{odd}}</p>
      </ng-template> -->
      <ul class="list-group">
        <li
          *ngFor="let evenNr of even"
          class="list-group-item">
          <span *appStructuralDirec="onlyOdd">{{evenNr}}</span>
        </li>
      </ul>
      <div [ngSwitch]="switchValue">
        <p *ngSwitchCase="1">1. click</p>
        <p *ngSwitchCase="2">2. click</p>
        <p *ngSwitchCase="3">3. click</p>
        <p *ngSwitchCase="4">5. click</p>
        <p *ngSwitchCase="5">5. click</p>
      </div>
    </div>
  </div>
</div>
